.main {
  display: flex;
  padding: 6rem;
}

.grid {
  display: grid;
}

.card {
  max-width: 450px;
  padding: 2.5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card h2 {
  margin-bottom: 0.7rem;
}

.card p {
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}
